.nameLabel{
	-fx-alignment: center;
	-fx-font-size: 150%;
	-fx-font-style: italic;
	-fx-text-alignment: center;
	

}

.number{
	-fx-text-alignment: right;
	
	-fx-font-style: italic;

}

.totalScrobbles{
	
	-fx-font-style: italic;

}

.stats{
	
	
	-fx-font-size: 300%;
	
	-fx-font-style: italic;

}

.pane{
	
	
	
}

.pieChart{
	
	-fx-start-angle: 90;
	
	
}

.default-color0.chart-pie { -fx-pie-color: #820000; }
.default-color1.chart-pie { -fx-pie-color: #49505b; }